<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Queue Dashboard</title>
</head>
<body>

<h1>Queue Dashboard</h1>

<h2>Currently Serving</h2>

<div th:if="${dashboard.currentServingTicket != null}">

    <p>
        Token:
        <span th:text=
                      "${dashboard.currentServingTicket.tokenNumber}">
        </span>
    </p>

</div>

<div th:if="${dashboard.currentServingTicket == null}">
    <p>No customer currently serving</p>
</div>

<hr>

<h2>Queue Statistics</h2>

<p>
    Waiting Customers:
    <span th:text="${dashboard.waitingCount}"></span>
</p>

<p>
    Completed Customers:
    <span th:text="${dashboard.completedCount}"></span>
</p>

<hr>

<h2>Waiting Queue</h2>

<table border="1">

    <tr>
        <th>Position</th>
        <th>Token</th>
        <th>Estimated Wait</th>
    </tr>

    <tr th:each="ticket :
            ${dashboard.waitingTickets}">

        <td th:text="${ticket.position}"></td>

        <td th:text="${ticket.tokenNumber}"></td>

        <td th:text="${ticket.estimatedWaitTime}"></td>
        
    </tr>

</table>

</body>
</html>